@import "src/scss/colors";
@import "src/scss/breakpoints";

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
  font-weight: bold;
  padding: 1.6rem;
  color: $header-bg-color;

  &:hover {
    border: 3px solid $blue;
  }
}

.card-image {
  width: 100%;
  height: auto;
  max-height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  background-color: $img-bg-color;
  border: 1px solid $img-border-color;
  border-radius: 4px;
  cursor: pointer;

  .image {
    width: 100%;
    height: auto;
  }

  .broken-image {
    width: 84.05%;
    height: auto;
    padding: 20px;
  }
}

.card-content {
  margin-top: auto;

  .card-body {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    color: $grey;

    p {
      text-align: center;
      margin-bottom: 5px;
    }

    .card-text {
      letter-spacing: 1px;
      font-size: 16px;
      color: $header-bg-color;
    }
  }

  .card-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media screen and (max-width: $xs) {
  .card {
    width: 100%;
  }
}

@media screen and (min-width: ($xs + 1px)) {
  .card {
    width: 49%;
  }

  .card,
  .catch-pokemon {
    margin-right: 1%;
  }
}

@media screen and (min-width: $md) {
  .card {
    width: 32%;
  }
}

@media screen and (min-width: $lg) {
  .card {
    width: 24%;
  }
}
