@import "src/scss/mixins";

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 140px;
  padding: 10px 0 0;
  background-color: #181818;

  .pokedex-logo {
    @include images-logo;
    padding: 0 30px;
  }

  .pokemons-logo {
    @include images-logo;
  }

  @media (max-width: 699px) {
    .pokemons-logo {
      display: none;
      visibility: hidden;
    }
  }
}
