$blue: #238cfb;
$yellow: #ffcf2d;
$grey: #999;

$header-bg-color: #181818;
$body-bg-color: #2f3437;
$img-border-color: #ddd;
$img-bg-color: #eee;

// Alert border colors
$success-border-color: rgba(148, 214, 163, 1);
$info-border-color: rgba(157, 214, 224, 1);
$warning-border-color: rgba(236, 221, 172, 1);
$danger-border-color: rgba(235, 153, 160, 1);

// Alert background colors
$success-bg-color: rgba(148, 214, 163, 0.8);
$info-bg-color: rgba(157, 214, 224, 0.8);
$warning-bg-color: rgba(236, 221, 172, 0.8);
$danger-bg-color: rgba(235, 153, 160, 0.8);

// Colors of Pokémons types
$normal: #acaa7a;
$grass: #79c250;
$fire: #f17f2d;
$water: #6e8bc6;
$fighting: #c4312b;
$flying: #9e8fc5;
$poison: #9e4399;
$ground: #e0c066;
$rock: #b9a337;
$bug: #aaba38;
$ghost: #71599a;
$electric: #f7d234;
$psychic: #f05889;
$ice: #98d6d5;
$dragon: #6357a6;
$dark: #725a4a;
$steel: #b8b8d2;
$fairy: #f7cbdf;
